html, body, .initial-content{
	height: 100%;
}
html, body {
    font-family: Roboto, Arial, sans-serif;
}
#map {
    height: 100%;
    z-index: 1;
}
#panel{

}
#sidebar{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 360px;
    background: white;
}
#sidebar-header{
	background: #DB4437;
	color: #fff;
	padding: 12px;
	font-size: 20px;
}
.collapse-sidebar{
	display: block;
	position: absolute;
    top: 8px;
    left: 360px;
    z-index: 2;
}
.collapse-sidebar-button{
	width: 23px;
    height: 48px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    border: 0;
    background: #F4F8FB;
}
#log-bird {
    height: 30px;
    margin-left: 5px;
    margin-right: 10px;
    padding-top: 5px;
}
.facaret {
	color: #727475;
}
.section-instruction {
    font-size: 13px;
    line-height: 18px;
    margin: 18px 24px 0;
    white-space: pre-line;
}
#search-country{
    padding: 18px 24px 0;
}
.country-added-div{
	font-size: 13px;
    line-height: 18px;
    padding: 0 24px 18px;
}
#map > div > div > div:nth-child(11) > div:nth-child(1){
	margin-left: 30px;
}
#countrySelect{
   box-shadow: none;
}
.row-obs{
    overflow: auto;
}
.button-obs{
    width: 100%;
    padding: 6px 16px;
    text-align: left;
    background: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #e6e6e6;
    font-size: initial;
}
.obs-detail{
    font-size: small;
    padding-left: 10px;
    padding-bottom: 5px;
}
.button-obs:hover{
    background-color: #f7f7f7;
}
.button-obs:focus{
 outline:none;
}
.leaflet-control-layers-selector {
    display: initial;
    box-shadow:none;
}
.leaflet-control-zoom{
    margin-left: 30px !important;
}
a:visited {
    color: #007bff;
}


::-webkit-scrollbar-track
{
    background-color: #f0f0f0;
}
::-webkit-scrollbar
{
    width: 6px;
}
::-webkit-scrollbar-thumb
{
    background-color: #888;
}


.obs-min{
    display: flex;
    align-items: center;
}
.obs-collapse{
    margin-left:auto; 
    margin-right:0;
}
.obs-icon{
    margin-left: 3px;
    margin-right: 3px;
}

.bottom{
    align-items: flex-end;
    margin-left: auto;
    padding-top: 5px;
}
.hotspot-icon{
    height: 1rem;
}
.obs-min-name{
    font-size: medium;
}
.form-control-range{
    box-shadow: none;
    width: 225px;
    margin-left: 10px;
}
#filter{
    padding: 0px 6px 10px;
    font-size: medium;
}
#range-value{
    padding-right: 3px;
}
#filter-specie{
    font-size: medium;
}
